<nav class="content-wrapper">
<a class="item html" href="{{ site.baseurl }}/html/">
    <svg>
        <text class="htmltext" x="50%" y="50%" alignment-baseline="central" text-anchor="middle">HTML</text>
    </svg>
</a>
<a class="item css" href="{{ site.baseurl }}/css/">
    <svg>
        <text class="csstext" x="50%" y="50%" alignment-baseline="central" text-anchor="middle">CSS</text>
    </svg>
</a>
<a class="item js" href="{{ site.baseurl }}/javascript/">
    <svg>
        <text class="jstext" x="50%" y="50%" alignment-baseline="central" text-anchor="middle">JavaScript</text>
    </svg>
</a>
<a class="item other" href="{{ site.baseurl }}/other/">
    <svg>
        <text class="othertext" x="50%" y="50%" alignment-baseline="central" text-anchor="middle">Other</text>
    </svg>
</a>
</nav>
