<div class="sidebar-wrapper pc-only">
<div class="tooltip left">
    <div class="tooltip-wrapper">导航</div>
</div>
<nav class="sidebar">
    <a class="item" href="{{ site.baseurl }}/HTML/">html</a>
    <a class="item" href="{{ site.baseurl }}/CSS/">css</a>
    <a class="item" href="{{ site.baseurl }}/JavaScript/">js</a>
    <a class="item" href="{{ site.baseurl }}/Other/">other</a>
</nav>
</div>

<button type="button" class="mobile-only" id="nav-trigger-show">More</button>
<button type="button" id="nav-trigger-hide">Hide</button>
<div id="nav-target">
{% include navigation.html %}
</div>
<script src="{{ '/assets/js/navTrigger.js' | prepend: site.baseurl }}"></script>
