@import "variables";


/**
* have padding and border included in the element's total width and height
*/
* { box-sizing: border-box; }


/**
 * Basic styling
 */
body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0.85em;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h2, h3, h4 {
  color: $primary-color-mild;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}


/**
 * Links
 */
a {
  color: $primary-color;

  &:visited {
    color: $primary-color-dark;
  }
}


/**
* Mark the selected text
*/
::-moz-selection {
  color: white;
  background-color: $primary-color-dark;
}
::selection {
  color: white;
  background-color: $primary-color-dark;
}


/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/**
 * Text align
 */
.text-center { text-align: center; }


/**
 * Image align
 */
.img-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/**
* Button, link
*/
.contrast_color {
  color: white;
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}
.contrast_color_2 {
  color: $primary-color-dark;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
}

.btn-read-more-wrapper {
  clear: both;
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit;
}

.magic-button {
  display: inline-block;
  @extend .contrast_color_2;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 10px 16px;
  font-weight: 600;
  line-height: 16px;

  &:hover {
    text-decoration: none;
  }

  &:hover, &.reverse {
    @extend .contrast_color;
  }

  &.reverse:hover {
    @extend .contrast_color_2;
  }
}


/**
* List
*/
.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd { margin: 0; }

ol {
  margin-left: $spacing-unit * 1.5;
  padding-left: 0;
  color: $text-color;

  li {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 1.7;
  }
}


/**
 * Border
 */
.solid_top_border {
  border-top: 1px solid $grey-color-light;
}
.solid_bottom_border {
  border-bottom: 1px solid $grey-color-light;
}
.round_border {
  border-radius: 3px;
}
