@import "variables";


/**
* have padding and border included in the element's total width and height
*/
* { box-sizing: border-box; }


/**
* Mark the selected text
*/
::-moz-selection {
  color: white;
  background-color: $primary-color-light;
}
::selection {
  color: white;
  background-color: $primary-color-light;
}


/**
 * Basic styling
 */
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

em {
  color: $primary-color;
}

strong {
  color: $text-em-color;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h2, h3, h4 {
  margin-top: $spacing-unit * 3;
  color: $text-em-color;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}


/**
 * Links
 */
a {
  color: $primary-color-mild;

}


/**
 * Code block
 */
code {
  font-size: 15px;
  color: $primary-color;
}
pre>code {
  display: block;
  color: #076527;
  background-color:  rgba(231, 246, 236, 0.9);
  padding: 5px;
}


/**
* table
*/
table {
  margin-bottom: $spacing-unit;
  background-color: white;

  tr:nth-child(odd) {
    background-color: $primary-color-light;
  }
  th {
    color: black;
  }
  th, td {
    padding: 5px $spacing-unit;
  }
}

table, th, td {
  border: 1px solid $grey-color;
  border-collapse: collapse;
}


/**
* List
*/
.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd { margin: 0; }

ol {
  margin-left: $spacing-unit * 1.5;
  padding-left: 0;

  li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}


/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/**
 * Text
 */
.text-center { text-align: center; }

.blue-text {
  color: skyblue;
}


/**
 * Border
 */
.solid_top_border {
  border-top: 1px solid $grey-color;
}
