@import "variables";


/*
 * have padding and border included in the element's total width and height
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}


/*
 * Basic styling
 */
html {
  font-size: 16px;
  @media (max-width: $breakpoint-mobile) {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  color: $text-color;
  background-color: $bg-color;
}


/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 0;
}


p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

em {
  color: $em-color;
}

pre {
  margin: 0;
}

code {
  padding: 2px 6px 3px;
  border: 1px solid $border-color;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border: none;
}


/*
 * Quotation
 */
q {
  cursor: help;
}


/*
 * Images
 */
img {
  max-width: 100%;
}


/*
 * Link
 */
a {
  color: $heading-color;
}


/*
 * table
 */
table {
  margin-bottom: 1.5rem;

  tr:nth-child(odd) {
    background-color: $bg-mild-color;
  }
  th, td {
    padding: 0.25rem 1rem;
  }
}

table, th, td {
  border: 1px solid $border-color;
  border-collapse: collapse;
}


/*
 * List
 */
.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd { margin: 0; }

ol {
  margin-left: 1.5rem;
  padding-left: 0;

  li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
