@include media-query-min($on-mobile) {
  .template-blog {
    padding-left: $spacing-unit * 2.5;
    border-left: 1px solid $grey-color;
  }
}

.post-list {
  margin-bottom: $spacing-unit * 9;

  @include media-query-max($on-mobile) {
    margin-bottom: $spacing-unit * 2.5;
  }
}

.contrast_color {
  color: $primary-color-light;
  background-color: rgba(255, 189, 189, 0.4);
}

.post {
  overflow: hidden;
  header h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0.8rem;
    color: $primary-color-mild;

    a {
      display: block;
      padding-top: 0.5rem;
      line-height: 1;
      text-decoration: none;

      &:hover {
        @extend .contrast_color;
      }
    }
  }
  img {
    height: auto;
  }
  article li {
    margin-bottom: 1rem;
    ul { margin-top: $spacing-unit; }
  }
}


.post-meta-infos {
  font-size: 12px;
  margin-bottom: $spacing-unit * 2.5;

  .text-sep {
    padding-left: 3px;
    padding-right: 3px;
  }

  .post-category {
    text-transform: capitalize;
  }
  .post-category, .post-author {
    color: $text-color;
    text-decoration: none;
    &:hover {
      @extend .contrast_color;
    }
  }
}


.archives-sidebar {

  @include media-query-max($on-mobile) {
    display: none;
  }
  /* iPads (landscape) ----------- */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
    display: none;
  }
}

#archives-sidebar {
  position: fixed;
  top: 55px;
  width: 220px;
  h3 {
    margin-top: 0;
    margin-bottom: $spacing-unit * 0.5;
    a {
      color: $primary-color;
    }
  }
  a {
    color: $text-color;
    display: block;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    text-decoration: none;
    &:hover {
      @extend .contrast_color;
    }
  }
}

.pagination {
  font-size: 12px;
  a, .current-page {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    margin-right: 3px;
  }
  a {
    color: $text-color;
    background-color: $primary-color-light;
    border: 1px solid $primary-color-dark;
    text-decoration: none;
    &:hover {
      color: $primary-color-light;
      background-color: $primary-color-dark;
    }
  }
  .current-page {
    font-weight: bold;
    color: $text-em-color;
    background-color: $primary-color;
    border: 1px dashed $primary-color-dark;
  }
  .page-number {
    float: right;
    line-height: $spacing-unit * 3.5;
  }
}
