.col-one-third {
  float: left;
  margin-left: 6%;
  width: 29.333333333333332%;
}
.no_margin.col-one-third {
  margin-left: 0;
  width: 33.3%;
}

.flex_column {
  @include media-query-max($on-mobile) {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: $spacing-unit;
  }
}

.col-one-half { width: 50%; }

.av_one_half {
  float: left;
  margin-left: 6%;
  width: 47%;
}

.column-top-margin { margin-top: $spacing-unit * 2.5; }


/*
* COMPILED WITH LESS
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 910px;
  margin: 0 auto;
  padding: 0px;
  clear: both;
}
.unit, .units {
  float: left;
  display: inline;
  margin-left: 50px;
  position: relative;
  z-index: 1;
  min-height: 1px;
}
div .no_margin { margin-left: 0; }
.unit.alpha,
.units.alpha,{
  width: 100%;
  margin-left: 0;
  clear: left;
}
.av_one_fourth {
  margin-left: 6%;
  width: 20.5%;
}
.no_margin.av_one_fourth {
  width: 25%;
}
div.first {
  margin-left: 0;
  clear: left;
}
/* #Desktop - Large
================================================== */@media only screen and (min-width: 1140px) {
  .container {
    width: 1030px;
  }
  .container .one.unit,
  .container .one.units {
    width: 40px;
  }
  .container .two.units {
    width: 130px;
  }
  .container .three.units {
    width: 220px;
  }
  .container .four.units {
    width: 310px;
  }
  .container .five.units {
    width: 400px;
  }
  .container .six.units {
    width: 490px;
  }
  .container .seven.units {
    width: 580px;
  }
  .container .eight.units {
    width: 670px;
  }
  .container .nine.units {
    width: 760px;
  }
  .container .ten.units {
    width: 850px;
  }
  .container .eleven.units {
    width: 940px;
  }
  .container .twelve.units {
    width: 1030px;
  }
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .container {
    width: 682px;
  }
  .container .one.unit,
  .container .one.units {
    width: 11px;
  }
  .container .two.units {
    width: 72px;
  }
  .container .three.units {
    width: 133px;
  }
  .container .four.units {
    width: 194px;
  }
  .container .five.units {
    width: 255px;
  }
  .container .six.units {
    width: 316px;
  }
  .container .seven.units {
    width: 377px;
  }
  .container .eight.units {
    width: 438px;
  }
  .container .nine.units {
    width: 499px;
  }
  .container .ten.units {
    width: 560px;
  }
  .container .eleven.units {
    width: 621px;
  }
  .container .twelve.units {
    width: 682px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 268px;
    margin: 0 auto;
  }
  .unit,
  .units {
    margin: 0;
  }
  .container .one.unit,
  .container .one.units,
  .container .two.units,
  .container .three.units,
  .container .four.units,
  .container .five.units,
  .container .six.units,
  .container .seven.units,
  .container .eight.units,
  .container .nine.units,
  .container .ten.units,
  .container .eleven.units,
  .container .twelve.units,
  .flex_column {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
  .unit,
  .units {
    margin: 0;
  }
  .container .one.unit,
  .container .one.units,
  .container .two.units,
  .container .three.units,
  .container .four.units,
  .container .five.units,
  .container .six.units,
  .container .seven.units,
  .container .eight.units,
  .container .nine.units,
  .container .ten.units,
  .container .eleven.units,
  .container .twelve.units,
  .flex_column {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
