@import "mixins";

/*
 * Home page
 */
.content-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
  &>.item {
    flex-grow: 1;
    text-decoration: none;
    @media (max-width: $breakpoint-mobile) {
      height: 25%;
    }
    &.html {
      background-color: $bg-mild-color;
    }
    &.css {
      background-color: $heading-color;
    }
    &.js {
      background-color: $text-color;
    }
    &.other {
      background-color: $em-color;
    }
  }
}


/*
 * Post list page
 */
.post-list-wrapper, .post-wrapper {
  max-width: 1200px;
  @extend .horizontal_center;
  padding: 2rem;
  @media (max-width: $breakpoint-mobile) {
    padding: 1rem;
  }
}

.post-list-wrapper .post {
  margin-bottom: 6rem;
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 3rem;
  }
}
