@import
  "grids",
  "site-header",
  "site-footer"
;


/**
 * Wrapper
 */
.wrapper {
  position: relative;
  width: 910px;
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query-min($desktop-large) {
    width: 1030px;
  }
  @include media-query-max($on-mobile) {
    width: 268px;
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) { // mobile landscape
    width: 428px;
  }
  @media only screen and (min-width: 768px) and (max-width: 989px) { // tablet portrait
    width: 682px;
  }
}


.content { // set padding for content area
  padding-top: $spacing-unit * 2.5;
  padding-bottom: $spacing-unit * 2.5;
}


/**
 * Scroll Top link
 */
#go-top-button {
  position: fixed;
  right: $spacing-unit * 2.5;
  bottom: $spacing-unit * 2.5;
  width: $spacing-unit * 2.5;
  height: $spacing-unit * 2.5;
  line-height: $spacing-unit * 2.5;
  text-decoration: none;
  z-index: 100;
  background-color: white;
  color: $text-color;
  border:1px solid $grey-color-light;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  @include mn-transition(all 0.3s ease-out);

  &:hover {
    color: $primary-color-dark;
    background-color: #f8f8f8;
  }

  &.show-gotop {
    opacity: 0.7;
    visibility: visible;
  }
}


/**
 * Page content
 */
.page-content {
  @include media-query-min($on-mobile) {
    padding-top: 88px;
  }
}

