.horizontal_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-only {
  display: none;
  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.pc-only {
  display: block;
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}


/*
 * Text
 */
.t-center {
  text-align: center;
}
.t-blue {
  color: $highlight-color;
}
.t-red {
  color: $heading-color;
}


/*
 * Scroll Top
 */
#go-top-button {
  position: fixed;
  right: 2rem;
  bottom: 3.5rem;
  @media (max-width: $breakpoint-mobile) {
    right: 1rem;
    bottom: 1.5rem;
  }
  padding: 1rem 0.75rem;
  z-index: 2;
  color: $text-color;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid $border-color;
  opacity: 0;
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  &.show {
    opacity: 0.5;
    display: block;
    &:hover,&:focus {
      color: $heading-color;
      opacity: 0.9;
    }
  }
}


/*
 * Tooltip
 */
.tooltip-wrapper {
  max-width: 200px;
  padding: 5px 8px;
  text-align: center;
  line-height: normal;
  color: $text-color-reverse;
  background-color: $text-color;
  border-radius: .25rem;
  @media (max-width: $breakpoint-mobile) {
    font-size: 2rem;
    background-color: rgba(54, 53, 50,0.2);
  }
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
.tooltip.left .tooltip-wrapper::before {
  top: 50%;
  right: -5px;
  margin-top: -5px;
  content: "";
  border-width: 5px 0 5px 5px;
  border-left-color: $text-color;
  @media (max-width: $breakpoint-mobile) {
    border-left-color: rgba(54, 53, 50,0.2);
  }
}

.sidebar-wrapper .tooltip {
  position: absolute;
  left: -4rem;
  top: 1rem;
  @media (max-width: $breakpoint-mobile) {
    left: -6rem;
  }
}


/*
 * Sidebar
 */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -70px;
  @media (max-width: $breakpoint-mobile) {
    right: -60px;
  }
  width: 5rem;
  transition: right 0.3s ease-in-out;
  &:hover {
    right: 0;
  }
}
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  &>.item {
    flex-grow: 1;
    padding-top: 100%;
    color: $text-color-reverse;
    background-color: $heading-color;
    @extend .t-center;
    transition: color 0.3s ease-out, font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  &>.item:hover {
    font-size: 2rem;
    color: $heading-color;
    background-color: $bg-mild-color;
    text-decoration: none;
  }
}


/*
 * Navigation SVG
 */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($val) {
  -webkit-animation: $val;
  animation: $val;
}

@include keyframes(text-outline-html) {
  from{
    opacity: 0.2;
    stroke-dashoffset: 810;
  }
  to{
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
@include keyframes(text-outline-css) {
  from{
    opacity: 0.2;
    stroke-dashoffset: 555;
  }
  to{
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

svg {
  width: 100%;
  min-height: 100%;
}

svg text {
  font-size: 4.7rem;
  opacity: 0;
  fill: none;
  stroke-width: 2px;
  &.htmltext {
    stroke: $text-color;
    stroke-dasharray: 810;
    stroke-dashoffset: 810;
    @include animation(5s text-outline-html 3 alternate forwards);
  }
  &.csstext, &.jstext, &.othertext {
    stroke: $text-color-reverse;
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
  }
  &.csstext {
    @include animation(4s text-outline-css 1s 1 alternate forwards);
  }
  &.jstext {
    @include animation(5s text-outline-css 2s 3 alternate forwards);
  }
  &.othertext {
    @include animation(3s text-outline-css 3s 3 alternate forwards);
  }
}


/*
 * Navigation menu on mobile
 */
#nav-trigger-show, #nav-trigger-hide {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 2;
  border: 1px solid $border-color;
  background-color: rgba(255,255,255,0.3);
  border-radius: 2px;
  font-size: 2rem;
  padding: 5px 1rem;
}

#nav-trigger-hide, #nav-target {
  display: none;
}


/*
 * Post navigation
 */
.post-navigation .next {
  float: right;
}
