@import "syntax";

// override syntax.scss
.highlighter-rouge {
  margin-bottom: 1.25rem;
}
figure.highlight {
  margin-bottom: 1rem;
  table, th, td {
    border: none;
  }
  table {
    margin-bottom: 0;
    .code {padding-left: 0.75rem;}
    & tr:nth-child(odd) {
      background-color: inherit;
    }
  }
}



/*
 * Post list page & Post detail page
 */
.post-meta-infos {
  font-size: 13px;
  font-family: "Josefin Sans", $font-family-sans-serif;
  .text-sep {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .post-category {
    text-transform: capitalize;
    color: $text-color;
  }
}

.post header {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1, h2 {
    margin-bottom: 0.25rem;
    font-size: 3rem;
    color: $heading-color;
    @media (max-width: $breakpoint-mobile) {
      line-height: normal;
    }
  }
}

.post article {
  ul {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
  li {
    margin-bottom: 0.75rem;
    p {
      margin-bottom: 0.5rem;
    }
    &>p:last-child, &:last-child, ul {
      margin-bottom: 0;
    }
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}


/*
 * Post detail page
 */
.post-wrapper {
  .post article {
    h2 {
      margin-top: 4rem;
    }
    h3 {
      margin-top: 3rem;
    }
  }
}
