@import "syntax";

// override syntax.scss
.highlighter-rouge {
  margin-bottom: 1.25rem;
}
figure.highlight {
  margin-bottom: 1rem;
  table, th, td {
    border: none;
  }
  table {
    margin-bottom: 0;
    .code {padding-left: 0.75rem;}
  }
  table tr:nth-child(odd) {
    background-color: inherit;
  }
}


// 分类文章列表页、文章详情页
.post header {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1, h2 {
    margin-bottom: 0.25rem;
    font-size: 2rem;
    color: $heading-color;
  }
}

.post article {
  ul {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
  li {
    margin-bottom: 0.75rem;
    p {
      margin-bottom: 0.5rem;
    }
    &>p:last-child {
      margin-bottom: 0;
    }
  }
  h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

.post-wrapper {
  .post article h2,
  .post article h3 {
    margin-top: 4rem;
  }
}
.post-list-wrapper {
  .post-meta-infos {
    @extend .border_bottom;
  }
}

.post-meta-infos {
  font-size: 13px;
  margin-bottom: 2rem;
  .text-sep {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .post-category {
    text-transform: capitalize;
    color: $text-color;
  }
}

