.site-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  @extend .solid_top_border;
  @extend .solid_bottom_border;
  background-color: rgba(255,255,255,0.95);

  height: 90px;
  line-height: 90px;

  @include media-query-max($on-mobile) {
    // Positioning context for the mobile navigation icon
    position: relative;
    height: 82px;
    line-height: 82px;
  }

  &>.wrapper {
    height: 100%;
  }
}


.site-title {
  height: 100%;
  float: left;

  a {
    display: block;
    height: 100%;
  }

  img {
    display: block;
    max-height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


.site-nav {
  position: absolute;
  right: 0;
  overflow: hidden; // hide mobile menu
}


/**
 * Page links
 */
ul.page-links {
  // common for header and footer
  li { float: left; }

  li:hover, li.active {
    a.page-link {
      color: $text-color;
      font-weight: 600;
    }
    span.avia-underline {
      opacity: 1;
      visibility: visible;
    }
  }
  li.active .avia-arrow-wrap { display: block; }

  a.page-link {
    position: relative;
    display: block;
    color: $text-color;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
  }

  @include media-query-max($on-mobile) {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    @include mn-transform(scale(0.5));
    @include mn-transition(all 0.8s ease);
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    li { float: none; }
    li:last-child a { border-bottom: 1px solid $grey-color-light; }

    a.page-link {
      line-height: 23px;
      padding: 13px 28px;
      border-top: 1px solid $grey-color-light;

      &:before {
        content: "\25B6";
        position: absolute;
        margin-left: -10px;
        font-size: 7px;
        color: $primary-color-dark;
      }
    }
  }
}

ul.page-links.show_mobile_menu {
  @include mn-transform(scale3d(1));
  @include mn-transform(translate3d(-100%, 0, 0));
}


/**
 * Links highlight style
 */
.avia-underline {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $primary-color-dark;
  border: none;
  opacity: 0;
  visibility: hidden;

  bottom: 1px;
  @include media-query-max($on-mobile) {
    bottom: 0;
  }
}
.avia-arrow-wrap, .avia-arrow {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
}
.avia-arrow-wrap {
  top: -10px;
  overflow: hidden;
  display: none;
}
.avia-arrow {
  top: 10px;
  background-color: $primary-color-dark;
  @include mn-transform(rotate(45deg));
}


/**
 * Mobile menu icon - dropdown-menu trigger
 */
.site-header .menu-icon, .site-header .hide-menu-icon {
  display: none;

  @include media-query-max($on-mobile) {
    position: absolute;
    width: 47px;
    height: 47px;
    line-height: 47px;
    margin-top: -24px;
    font-size: 30px;
    text-decoration: none;
    background-color: white;
    color: $text-color;
    border: 1px solid $grey-color-light;
    border-radius: 2px;
    z-index: 100;

    &:hover {
      color: white;
      background-color: $primary-color-dark;
      border-color: $primary-color-dark;
    }
  }
}
@include media-query-max($on-mobile) {
  .site-header .menu-icon {
    display: block;
    top: 50%;
    right: 0;
  }
  .site-header .hide-menu-icon {
    top: 44px;
    right: 23px;
  }
  .site-nav { width: 100%; }
}

.wrapper.full-screen { width: 100%; }
