// 字体
$font-family-sans-serif:
  "Josefin Sans",
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif;

// 颜色
$bg-color:        #fffafa; // 雪色
$bg-mild-color:   #FFF1F1; // 浅粉
$text-color:      #363532; // 烟草灰，paragraph
$heading-color:   #dd3b44; // 银朱，heading
$highlight-color: #2ec3e7; // 天青，strong
$em-color:     #bca590; // 纸棕，em 斜体：attribute

$border-color: #bca590;
$text-color-reverse: #fffafa;

// 媒体查询断点
$breakpoint-mobile: 544px;
