$base-font-family: "Josefin Sans", sans-serif;
$base-font-size:   16px;
$base-line-height: 1.5;

$text-color:       #7B7B7B; // paragraph
$text-em-color:    rgba(255, 255, 255, 0.8); // heading

$background-color: rgba(0, 0, 0, 0.8);

$primary-color-light: #FFF1F1;
$primary-color-mild:  #FFBDBD;
$primary-color:       #D3696C; // equals to rgb(150, 53, 140)
$primary-color-dark:  #540002;

$grey-color:       #C3C3C3; // border

$spacing-unit:     20px;

// Width of the content area
$content-width:    800px;

$on-mobile:        767px;
$desktop-large:    1140px;
$desktop-ex-large: 1340px;
