$base-font-family: "cholla-slab", serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #919191;
$text-color-dark:  #666666;
$header-color:     #222222;
$background-color: #ffffff;

$brand-color:      #97348c;
$brand-color-mid:  #96358c; // equals to rgb(150, 53, 140)
$brand-color-dark: #8718a0;

$grey-color:       #828282;
$grey-color-light: #e1e1e1;
$grey-color-dark:  #585858;

// Width of the content area
$content-width:    800px;

$on-mobile:        767px;
$desktop-large:    1140px;
$desktop-ex-large: 1340px;
